@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,700;0,800;1,300;1,500;1,700&display=swap');



:root {
    --main-hue: 170;
    --main-sat: 70%;
    --main-light: 50%;
    --accent: white;
    --small-text: #656565
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    height: 100vh;
    display: grid;
    grid-template-columns: 20rem 1fr;
    grid-template-rows: 1fr;
    font-family: 'Open Sans', sans-serif;
}

.sidebar {
    display: grid;
    grid-template-rows: 4.5rem min-content min-content;
    justify-content: start;
    background-color: hsl(var(--main-hue), var(--main-sat), var(--main-light));
    padding: 1rem;
    gap: 3rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.sidebar-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    font-weight: bold;
    gap: 2rem;
    color: var(--accent);
    transition: scale .3s;
}

.sidebar-link:hover {
    scale: 1.05;
    transition: scale .3s;
}

.logo-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--accent);
    text-transform: uppercase;
}

.logo {
    width: 4rem;
    fill: var(--accent);
}


.sidebar-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    list-style: none;
    padding: .5rem;
}

.sidebar-icon {
    width: 1.75rem;
    fill: var(--accent);
}

.icon {
    width: 1.5rem;
}

.main-wrapper {
    display: grid;
    grid-template-rows: 4.5rem min-content 1fr;
}

.upper-bar {
    padding: 1rem 3rem;
    display: grid;
    grid-template-columns: 1fr min-content;
    gap: 6rem;
}

.search {
    display: grid;
    align-items: center;
    grid-template-columns: min-content 1fr;
    gap: 1rem;
}

.search>input {
    height: 2rem;
    border: none;
    border-radius: 1rem;
    background-color: #eeeeee;
}

.account-area {
    display: grid;
    align-items: center;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr max-content;
}

.profile-image {
    width: auto;
    height: 3rem;
    border-radius: 50%;
}

.profile-image-big {
    width: auto;
    height: 5rem;
    border-radius: 50%;
}

.lower-bar {
    padding: 1.5rem 3rem 1rem 3rem;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: 1fr;
    align-items: center;
    gap: 1.5rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    clip-path: inset(0px 0px -8px 0px);

}

.file-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content;
    gap: 2rem;
}

.file-button {
    background-color: hsl(var(--main-hue), var(--main-sat), var(--main-light));
    color: var(--accent);
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 4rem;
    transition: background-color .3s;
}

.file-button:hover {
    background-color: hsl(var(--main-hue), var(--main-sat), calc(var(--main-light) - 20%));
    transition: background-color .3s;

}

.file-button:active {
    background-color: hsl(var(--main-hue), var(--main-sat), calc(var(--main-light) + 20%));
    transition: background-color .1s;
}

.main-content {
    padding: 2rem 1.5rem;
    background-color: #f7f7f7;
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
}

.projects-wrapper {
    grid-row-start: 1;
    grid-row-end: 3;
}

.main-content-h2 {
margin-bottom: 1rem;
color: #3d3d3d;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.project-card {
    background-color: white;
    border-radius: .75rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4rem;
    border-left-color: hsl(calc(var(--main-hue) - 120), var(--main-sat), var(--main-light));
    border-left-style: solid;
    border-left-width: .75rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.card-content {
    padding: 3rem;
}

.card-content>p {
    font-size: .9rem;
    color: var(--small-text);
}

.card-icons {
    padding: 0rem 2rem 1rem 1rem;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 2rem;
}

.sidebar-widget {
    background-color: white;
    border-radius: .75rem;
    padding: 2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.announcement>p {
    color: var(--small-text);
}

.announcement {
    font-size: .8rem;
    padding: 1rem 0rem;
    border-top: .05rem solid var(--small-text)
}

.announcement:first-child {
    border: none;
}
